<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple REST</title>
</head>
<body>
	<div>
		<h2>Welcome to the Simple Rest API</h2>
		<p> A simple RESTFUL Api for simple people!</p>
	</div>
	<div>
		<h3>Instruction manual</h3>
		<p>
			You can either do a GET, POST, PUT, OR DELETE http verb on this API.
		</p>
		<p> This lets you have a CRUD functionality on your hands!</p>
		<ul>
			<li style="padding: 1em"><strong>GET:</strong>get all the names stored in mongolab by append <em>/simple</em> after api: http:url/api/simple get all the names stored in mongolab</li>
			<li style="padding: 1em"> <strong>POST:</strong> append simple and parameter</li>
			<li style="padding: 1em"> <strong>PUT:</strong> update an already existing record</li>
			<li style="padding: 1em"> <strong> DELETE: </strong> add the id of the name you want to delete: http:/url/api/simple/23423424422</li>
		</ul>
	</div>

</body>
</html>